
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<header>
  <%- include('partials/header.ejs') %>
  <h1>Restaurant List</h1>
  <ul>
    <% restaurants.forEach(restaurant => { %>
      <li>
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.description %></p>
        <p>Rating: <%= restaurant.rating %></p>
      </li>
    <% }); %>
  </ul>
</header>

<main>
 
  </div>
</main>

<footer>
  <%- include('partials/footer.ejs') %>
</footer>

</body>
</html>